<%= @title = '管理者のアカウント情報編集' %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for @administrator, url: :admin_account do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= f.submit '更新' %>
      <%= link_to 'キャンセル', :admin_root %>
    </div>
  <% end %>
</div>
