<% @title = 'アカウント情報' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'アカウント情報変更', :edit_client_account %> |
    <%= link_to 'パスワード変更', :edit_client_password %>
  </div>
  
  <table class="attributes">
    <tr>
      <th>認定番号</th>
      <td>
        <%= @client.certification %>
      </td>
    </tr>
    <tr>
      <th>ユーザーコード</th>
      <td>
        <%= @client.prefecture_cord %>　(<strong>御社の認識番号です。</strong>)
      </td>
    </tr>
    <tr>
      <th>社名（フリガナ）</th>
      <td>
        <%= @client.company_name %>　(
        <%= @client.company_name_kana %> )
      </td>
    </tr>
    <tr>
      <th>営業エリア</th>
      <td>
        <%= @client.sales %>
      </td>
    </tr>
    <tr>
      <th>代表者名（フリガナ）</th>
      <td>
        <%= @client.representative %>　(
        <%= @client.representative_kana %> )
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td>
        <%= @client.postal_code1 %> - 
        <%= @client.postal_code2 %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        <%= @client.prefecture %>
        <%= @client.city %>
        <%= @client.address1 %>
        <%= @client.address2 %>
      </td>
    </tr>
    <tr>
      <th>TEL</th>
      <td>
        <%= @client.phone1 %> -
        <%= @client.phone2 %> -
        <%= @client.phone3 %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="email">
        <%= @client.email %>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td class="password">※※※※※※※※※※</td>
    </tr>
    <tr>
      <th>開始日</th>
      <td class="date">
        <%= @client.start_date.strftime('%Y/%m/%d') %>
      </td>
    </tr>
  </table>
  <table class="attributes">
    <tr>
      <th>1月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement1 == "有効" %>
          <%= @client.agreement1 %>
        <% else %>
          <strong><%= @client.agreement1 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>2月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement2 == "有効" %>
          <%= @client.agreement2 %>
        <% else %>
          <strong><%= @client.agreement2 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>3月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement3 == "有効" %>
          <%= @client.agreement3 %>
        <% else %>
          <strong><%= @client.agreement3 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>4月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement4 == "有効" %>
          <%= @client.agreement4 %>
        <% else %>
          <strong><%= @client.agreement4 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>5月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement5 == "有効" %>
          <%= @client.agreement5 %>
        <% else %>
          <strong><%= @client.agreement5 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>6月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement6 == "有効" %>
          <%= @client.agreement6 %>
        <% else %>
          <strong><%= @client.agreement6 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>7月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement7 == "有効" %>
          <%= @client.agreement7 %>
        <% else %>
          <strong><%= @client.agreement7 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>8月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement8 == "有効" %>
          <%= @client.agreement8 %>
        <% else %>
          <strong><%= @client.agreement8 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>9月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement9 == "有効" %>
          <%= @client.agreement9 %>
        <% else %>
          <strong><%= @client.agreement9 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>10月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement10 == "有効" %>
          <%= @client.agreement10 %>
        <% else %>
          <strong><%= @client.agreement10 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>11月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement11 == "有効" %>
          <%= @client.agreement11 %>
        <% else %>
          <strong><%= @client.agreement11 %></strong>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>12月　利用更新状況（契約）</th>
      <td>
        <% if @client.agreement12 == "有効" %>
          <%= @client.agreement12 %>
        <% else %>
          <strong><%= @client.agreement12 %></strong>
        <% end %>
      </td>
    </tr>
  </table>
</div>
<p>　</p>
<div class="main">
  <div class="links">
    <p>御社のサービス・特長など　<%= image_tag("yajirusi.PNG", size: "60*60", alt: "⇓", align: "top") %>　をタップし記入してくだ。</p>
    <%= link_to '御社の特長などコメントの編集ページへ', edit_client_entry_path(@entry) %>
  </div>
  <p></p>
  <div class="links">
    <%= link_to '　　　戻る　　', :client_root %>
  </div>
</div>