<%= @user.company_name %>さま
<hr />
<p>ワンダーゲート運営局です。</p>

<p>この度は、<%= @time_month %> 月利用料金（￥13,300）の振込みをいただきありがとうございました。<br><%= @time_month %> 月も引き続きご利用頂けます。</p>

<p>本サイトを有効活用していただき営業状況の改善につながればと思います。</p>

<p>次月以降サイトを継続してご利用いただくには、下記口座へ20日までに<br>￥3,300　を
  振り込みしていただく必要があります。<br>入金の確認が取れない場合、一覧表示に御社名が表示されなくなります。</p>

<p>次月以降は無駄な費用が発生しないように20日前に早めのご入金をお願いします。</p>

<p>詳細は、ログインしていただき利用規約を参照お願いします。</p>

<p><h3><strong>月額利用料金：￥3,300</strong></h3></p>

<p><h3><strong>振込先</strong></h3></p>
<ul>
<li>銀行名　：　みずほ銀行</li>
<li>支店名　：　秋田支店</li>
<li>預金種目：　普通預金</li>  
<li>口座番号：　2 1 7 1 1 8 9</li>
<li>口座名義：　WONDER GATE</li>
</ul>

<p><h3>お振込み依頼人氏名は下記のようにお願いします。<br>（ユーザーコード　＋　会社名）</h3></p>
<ul>
  <h2><strong><%= @user.prefecture_cord %><%= @user.company_name %></strong></h2>
</ul>

<p><strong>上記のように氏名の前にユーザーコードをつけてください。</strong></p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://hunter-chan.com' %>からログインを行ってください。</P>