<% @title = '都道府県別顧客管理' %>
<h1><%= @title %></h1>

<ul class="menu">
  <li><%= link_to '北海道＝10', hokkaidou_admin_choose_path %></li>
  <li><%= link_to '青森県＝11', aomori_admin_choose_path %></li>
  <li><%= link_to '岩手県＝12', iwate_admin_choose_path %></li>
  <li><%= link_to '宮城県＝13', miyagi_admin_choose_path %></li>
  <li><%= link_to '秋田県＝14', akita_admin_choose_path %></li>
  <li><%= link_to '山形県＝15', yamagata_admin_choose_path %></li>
  <li><%= link_to '福島県＝16', fukushima_admin_choose_path %></li>
  <li><%= link_to '茨城県＝17', ibaraki_admin_choose_path %></li>
  <li><%= link_to '栃木県＝18', tochigi_admin_choose_path %></li>
  <li><%= link_to '群馬県＝19', gunma_admin_choose_path %></li>
  <li><%= link_to '埼玉県＝20', saitama_admin_choose_path %></li>
  <li><%= link_to '千葉県＝21', chiba_admin_choose_path %></li>
  <li><%= link_to '東京都＝22', tokyo_admin_choose_path %></li>
  <li><%= link_to '神奈川県＝23', kanagawa_admin_choose_path %></li>
  <li><%= link_to '新潟県＝24', niigata_admin_choose_path %></li>
  <li><%= link_to '富山県＝25', toyama_admin_choose_path %></li>
  <li><%= link_to '石川県＝26', ishikawa_admin_choose_path %></li>
  <li><%= link_to '福井県＝27', fukui_admin_choose_path %></li>
  <li><%= link_to '山梨県＝28', yamanashi_admin_choose_path %></li>
  <li><%= link_to '長野県＝29', nagano_admin_choose_path %></li>
  <li><%= link_to '岐阜県＝30', gifu_admin_choose_path %></li>
  <li><%= link_to '静岡県＝31', shizuoka_admin_choose_path %></li>
  <li><%= link_to '愛知県＝32', aichi_admin_choose_path %></li>
  <li><%= link_to '三重県＝33', mie_admin_choose_path %></li>
  <li><%= link_to '滋賀県＝34', shiga_admin_choose_path %></li>
  <li><%= link_to '京都府＝35', kyoto_admin_choose_path %></li>
  <li><%= link_to '大阪府＝36', oosaka_admin_choose_path %></li>
  <li><%= link_to '兵庫県＝37', hyogo_admin_choose_path %></li>
  <li><%= link_to '奈良県＝38', nara_admin_choose_path %></li>
  <li><%= link_to '和歌山県＝39', wakayama_admin_choose_path %></li>
  <li><%= link_to '鳥取県＝40', tottori_admin_choose_path %></li>
  <li><%= link_to '島根県＝41', shimane_admin_choose_path %></li>
  <li><%= link_to '岡山県＝42', okayama_admin_choose_path %></li>
  <li><%= link_to '広島県＝43', hiroshima_admin_choose_path %></li>
  <li><%= link_to '山口県＝44', yamaguchi_admin_choose_path %></li>
  <li><%= link_to '徳島県＝45', tokushima_admin_choose_path %></li>
  <li><%= link_to '香川県＝46', kagawa_admin_choose_path %></li>
  <li><%= link_to '愛媛県＝47', ehime_admin_choose_path %></li>
  <li><%= link_to '高知県＝48', kochi_admin_choose_path %></li>
  <li><%= link_to '福岡県＝49', fukuoka_admin_choose_path %></li>
  <li><%= link_to '佐賀県＝50', saga_admin_choose_path %></li>
  <li><%= link_to '長崎県＝51', nagasaki_admin_choose_path %></li>
  <li><%= link_to '熊本県＝52', kumamoto_admin_choose_path %></li>
  <li><%= link_to '大分県＝53', ooita_admin_choose_path %></li>
  <li><%= link_to '宮崎県＝54', miyazaki_admin_choose_path %></li>
  <li><%= link_to '鹿児島県＝55', kagoshima_admin_choose_path %></li>
  <li><%= link_to '沖縄県＝56', okinawa_admin_choose_path %></li>
</ul>

<div class="main">
  <div class="links">
    <%= link_to '戻る', :admin_root %>
  </div>
</div>