<!DOCTYPE html>
<html>
  <head>
    <title>Hunter</title>
    <%= csrf_meta_tags %>
    <title><%= document_title %></title>
    <%= stylesheet_link_tag    'client', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'client', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div id="wrapper">
    <%= render 'client/shared/header' %>
    <div id="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  </body>
</html>
